# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# NodeJS specific #
.nyc_output/
coverage/
node_modules/
dist/
npm-debug.log
test/*.log
combined.log
error.log

# ENV VARIABLES (WILL BE SET IN GITLAB CI + PRODUCTION SERVERS)
.env
.env.staging
.env.production
SECURITY.md
